.content_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

#container_2 {
    padding-bottom: 3rem;
}

.text_container {
    width: 50%;
}

.text_container>h4 {
    font-weight: bold;
    color: black;
}

.about_info {
    text-align: justify;
    line-height: 24px;
}

.about_img {
    border-radius: 10px;
    width: 220px;
}

@media screen and (max-width: 700px) {
    .content_container {
        gap: 2rem;
    }
}

@media screen and (max-width: 580px) {
    .content_container {
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }

    #container_2 {
        flex-direction: column-reverse;
        padding-bottom: 1.5rem;
    }

    .about_img {
        width: 180px;
    }

    .text_container {
        width: 90%;
    }

    .text_container>h4 {
        text-align: center;
    }
}