.content_container {
    display: flex;
    justify-content: center;
}

.content,
.content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 5%;
}

.text_container {
    width: 50%;
}

.info_text {
    font-size: 22px;
    line-height: 3rem;
    font-weight: normal;
}

.heading {
    line-height: 3rem;
    font-size: 32px;
}

.image {
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .content {
        display: block;
        width: 100%;
        margin: 10%;
    }

    .image {
        width: 80%;
        display: block;
        margin: auto;
    }

    .text_container {
        width: 100%;
    }

    .info_text {
        font-size: 18px;
        line-height: 2rem;
    }

    .content1 {
        flex-direction: column-reverse;
        width: 100%;
        margin: -5% 10% 10% 10%;
    }

}