/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: var(--primary-color) 4px 4px 4px;
    z-index: 1;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    padding: 2px 0;
}

.logo_container {
    padding-top: 5px;
    padding-right: 20px;
}

.logo {
    width: 55px;
}

.nav_links {
    color: var(--primary-color);
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 4.4rem;
    left: 0;
    background-color: white;
    transition: 0.5s;
    overflow: hidden;
}

.sidenav a {
    color: var(--primary-color);
}

.nav_icons_container {
    display: none;
}

.bars_icon,
.close_icon {
    font-size: 30px;
    display: none;
    color: var(--primary-color);
}

.fa-user {
    color: var(--primary-color);
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
}

.goog-te-gadget .goog-te-combo {
    margin: 0 !important;
    margin-top: 12px !important;
    padding: 8px;
    border: 2px solid var(--primary-color);
    font-family: 'Poppins';
    background: white;
    border-radius: 10px;
    width: 150px;
    font-size: 12pt;
}

.goog-te-gadget {
    color: transparent !important;
}

#google_translate_element {
    margin-left: 30px;
}

/* HEADER */

/* FOOTER */

footer {
    background-color: var(--primary-color);
    color: white;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left_section {
    width: 60%;
}

.footer_logo {
    width: 80px;
}

.footer_content {
    padding-left: 20px;
    line-height: 30px;
}

.right_section {
    width: 18%;
}

.footer_com_info {
    margin-top: 16px !important;
}

.com_icons {
    display: flex;
    column-gap: 40px;
    margin-top: 16px;
}

.fa-facebook:hover,
.fa-whatsapp:hover,
.fa-instagram:hover {
    transform: scale(1.2);
    color: white;
}

/* FOOTER */

/* CUSTOMER SELECTION MODAL */

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show_overlay {
    opacity: 1;
    visibility: visible;
}

.overlay_content {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 35%;
    width: 100%;
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: gray;
}

.overlay .closebtn:hover {
    color: black;
}

.overlay_content>a {
    color: var(--primary-color);
}

.type_container {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 185px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_container:hover {
    box-shadow: #57d192 3px 3px 3px;
}

/* CUSTOMER SELECTION MODAL */

@media screen and (max-width: 1560px) {
    .header_container {
        padding: 2px 20px;
    }

    .footer_container {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 1500px) {
    .right_section {
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .right_section {
        width: 25%;
    }
}


@media screen and (max-width: 1000px) {
    .footer_container {
        padding: 20px 20px;
    }

    .right_section {
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .footer_container {
        flex-direction: column;
        padding: 20px 10px;
        row-gap: 16px;
    }

    .left_section,
    .com_icons {
        width: 100%;
    }

    .right_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .com_icons {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .nav_links_container {
        display: none !important;
    }

    .nav_icons_container,
    .bars_icon {
        display: block;
    }

    li {
        padding: 13px 15px;
    }

    .btn_con {
        padding: 5px 10px;
    }

    .profile_icon {
        padding: 0px 12px;
    }
}

@media screen and (max-width: 499px) {
    .logo_container {
        padding-right: 10px;
    }

    .logo {
        width: 40px;
    }

    .bars_icon,
    .close_icon {
        font-size: 20px;
    }

    .sidenav {
        top: 3.4rem;
    }

    .footer_logo {
        width: 60px;
    }

    .footer_content {
        line-height: 24px;
    }

    .footer_com_info {
        margin-top: 8px !important;
    }

    .type_container {
        width: 150px;
        height: 85px;
    }
}

@media screen and (max-width: 399px) {
    .type_container {
        width: 120px;
        height: 60px;
    }
}