/* Search bar and category section */

.category_search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px 6px 20px;
    row-gap: 20px;
}

.search_bar_container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}

.search_bar_container:focus-within {
    outline: 1.5px solid var(--primary-color);
}

.search_icon_container {
    background: var(--primary-color);
    padding: 5px 8px;
}

.fa-magnifying-glass {
    font-size: 14px;
}

.category_list_container {
    display: flex;
    column-gap: 15px;
}

.category_container:hover {
    cursor: pointer;
    color: var(--primary-color)
}

.category_img {
    width: 60px;
    border-radius: 40%;
}

/* Search bar and category section */

.info_container {
    padding-left: 20px;
}

div.cattle_container>div.info_container>a>button:hover {
    background-color: white;
    color: var(--primary-color);
}

.products_section {
    margin: 0% 10%;
}

.product_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cattles_container0,
.cattles_container1,
.cattles_container2,
.cattles_container3,
.cattles_container4,
.cattles_container5 {
    margin: 10px 0px 15px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 0px 115px;
}

.cattle_container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
}

.divspace {
    padding-left: 40px;
}

.cattle_container:hover {
    box-shadow: #57d192 3px 3px 3px;
}

.cattle_image {
    width: 280px;
    height: 255px;
}

.img_container {
    width: 280px;
    height: 255px;
    overflow: hidden;
}

.cattle_image:hover {
    transform: scale(1.2);
    transition: all 800ms;
}

.gif {
    width: 180px;
    position: relative;
    animation-duration: 7s;
    margin-top: -15px;
    animation-name: running_cow;
    animation-iteration-count: infinite;
}

.cattle_name {
    color: var(--primary-color);
}

.product_title {
    color: darkslategray;
}

@keyframes running_cow {
    0% {
        left: calc(0% - 100px);
    }

    100% {
        left: calc(100%);
    }
}

@media screen and (max-width: 699px) {
    .category_search_container {
        justify-content: center;
    }

    .search_bar_container {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 549px) {
    .banner_chevron_container {
        padding-inline: 12px;
    }
}

@media screen and (max-width: 499px) {
    .category_search_container {
        row-gap: 12px;
    }

    .fa-magnifying-glass {
        font-size: 12px;
    }

    .banner_container {
        height: 200px;
        margin-top: 5px;
    }

    .banner_chevron {
        width: 30px;
        height: 30px;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 13px;
    }

    .banner_dots {
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width: 480px) {
    .products_section {
        margin: 0;
    }

    .product_title_container {
        margin: 0px 40px -10px 35px;
    }

    .cattles_container0 .cattles_container1,
    .cattles_container2,
    .cattles_container3,
    .cattles_container4,
    .cattles_container5 {
        grid-auto-flow: column;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
        overflow-x: scroll;
        width: 393px;
        margin: 0;
    }

    .cattle_container {
        margin: 20px 40px 50px 35px;
    }

    hr {
        margin: -15px 35px 5px 35px;
    }

    .gif {
        width: 130px;
    }

    .info_container {
        text-align: center;
        padding: 0px;
    }

    .banner_title {
        padding: 3px 8px;
        font-size: 16px;
        max-width: 210px;
        text-align: center;
    }

    .btn1 {
        font-size: 18px;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 424px) {
    .category_img {
        width: 45px;
    }
}

@media screen and (max-width: 350px) {
    .category_img {
        width: 40px;
    }
}

@media screen and (max-width: 320px) {
    .category_img {
        width: 35px;
    }

    .banner_chevron_container {
        padding-inline: 8px;
    }

    .banner_chevron {
        width: 25px;
        height: 25px;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 11px;
    }

    .banner_dots {
        width: 8px;
        height: 8px;
    }
}